---
layout: base.njk
---
{# this is a comic-page template using nunjucks #}
{{ content | safe }}

{% set prev = collections['comic-pages'] | getPreviousCollectionItem %}
{% set next = collections['comic-pages'] | getNextCollectionItem %}

{% if prev %}

<a href="{{ prev.url }}">PREV</a>

{% endif %} 
{% if next %}

<a href="{{ next.url }}">NEXT</a>

{% endif %}
