---
layout: base.njk
title: COMIC TITLE
permalink: /comic/index.html
---

<p>This is the comic index! Here's all the pages so far.</p>

<ol>
{% for page in collections.comics %}
    <li>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
    </li>
{% endfor %}
</ol>
