---
layout: base
title: COMIC TITLE
permalink: /comic/index.html
---
{% set mainComic = collections.comics | first %}
{{ mainComic.content | safe }}

{% set nextComic = collections.comics | second %}
{% if nextComic %}

<a href="{{ nextComic.url }}">NEXT</a>

{% endif %}
