---
layout: base
---
{% set mainComic = collections.comics | first %}
{{ mainComic.content | safe }}

{% set nextComic = collections.comics | second %}
{% if nextComic %}

<a href="{{ nextComic.url }}">NEXT</a>

{% endif %}
